.delete-modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000004f;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.3s ease;
    animation: fadeIn 0.3s forwards;
    z-index: 9999;
  }
  &__wrapper {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    width: 500px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    animation: slideIn 0.3s forwards;
    z-index: 999999;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__close-btn {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: all 0.3s ease;
    border-radius: 5px;

    &:hover {
      background-color: rgba(128, 128, 128, 0.135);
    }
  }
  &__text {
    margin-bottom: 30px;
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__button {
    padding: 6px 20px;
    background-color: #000;
    border-radius: 4px;
    color: #fff;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.8;
      transform: scale(0.98);
    }
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
